<p id="notice"><%= notice %></p>

<h1>Listing Page Domains</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Domain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_domains.each do |page_domain| %>
      <tr>
        <td><%= page_domain.page %></td>
        <td><%= page_domain.domain %></td>
        <td><%= link_to 'Show', page_domain %></td>
        <td><%= link_to 'Edit', edit_page_domain_path(page_domain) %></td>
        <td><%= link_to 'Destroy', page_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page domain', new_page_domain_path %>
