<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :is_favorite %><br>
    <%= f.check_box :is_favorite %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
    <div class="field">
      <% if @page.image? %>
        <div class="thumbnail">
          <%= image_tag @page.image.url %>
        </div>
      <% end %><br>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="field">
       <% if @page.persisted? && @page.image? %>
         <label>
           <%= f.check_box :remove_image %>
           画像を削除
         </label>
       <% end %>
    </div>
    <p>どめいん</p>
    <%= f.fields_for :domain do |t| %>
      <%= t.label :name %><br>
      <%= t.text_field :name %>
    <% end %>
    <p>タグ</p>
    <%= f.fields_for :tags do |tag| %>
      <%= render "tag_fields", f: tag %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
