<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Image:</strong>
  <% if @page.image? %>
    <div class="thumbnail">
      <%= image_tag @page.image.url %>
    </div>
  <% end %>
</p>

<p>
  <strong>Is favorite:</strong>
  <%= @page.is_favorite %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @page.memo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
